body {
    margin: 0;
}

button {
    cursor: pointer;
}

.canvas-container {
    margin: 0 auto;
    height: 500px;
    width: 500px;
}

.gallery-img {
    cursor: pointer;
    height: 100px;
}